{% extends "layouts/layout.html.twig" %}
{% block title %}Grid Cols{% endblock %}
{% block content %}


<div class="main-row">
    <div class="main-col"></div>
    <div class="main-col"></div>
</div>




{% endblock %}
{% block scripts %}{% endblock %}